<div id="footer">
	<div class="">
		<div class="row">
			<div class="container" style="margin: 2rem auto;">
				<div class="col-md-3 texto_footer">
			 <div class="icon_footer_wrapper">
			 	<img id="logo"	src="<%= asset_path 'crumbikfoot.png' %>">
				<p class="blanco grande" style="line-height: 2rem; text-align: center;">Ll&aacute;manos</p>
				<div style="text-align: center;" >
					<span class="blanco grande " > 0500 - </span><span class="magenta grande"> 2783245</span> <span class="blanco grande"> - 00</span>
				</div>
				

			 </div>
				
			</div>
			<div class="col-md-3 texto_footer center-block">
				<h6 class="morado">QUICK LINKS</h6>
				<p class="blanco delgado"> Features</p>
				<p class="blanco delgado"> Pricing & Sign Up</p>
				<p class="blanco delgado"> Features</p>
			</div>
			<div class="col-md-3 texto_footer">
				<h6 class="rosado">RESOURCES</h6>
				<p class="blanco delgado"> Help Center</p>
				<p class="blanco delgado"> Certified Consultants</p>
				<p class="blanco delgado"> Demo Videos</p>
				<p class="blanco delgado"> Developer API</p>
				<p class="blanco delgado"> Blogs</p>
				<p class="blanco delgado"> User Community</p>
				<p class="blanco delgado"> Discussion Forum</p>

			</div>
			<div class="col-md-3 texto_footer">
				<h6 class="azul">ABOUT CRM</h6>
				<p class="blanco delgado"> what is CRM software</p>
				<p class="blanco delgado"> How CRM Works?</p>
				<p class="blanco delgado"> How To Evaluate CRM Software?</p>
				<p class="blanco delgado"> How To Buy CRM Software?</p>
				<p class="blanco delgado"> Compare CRM Software</p>
				<p class="blanco delgado"> New to CRM?</p>
			</div>
			</div>
			

		</div>
			<div class="row">
				<div id="iconos">
					<i class="fa fa-facebook fa-2x"></i>
					<i class="fa fa-twitter fa-2x"></i>
					<i class="fa fa-linkedin fa-2x"></i>
				</div>
			</div>
	</div>

</div>
