<div id="footer">
<div class="row contenedor">
	<div class="col s1">
			<img id="logo"	src="<%= asset_path 'crumbikfoot.png' %>">
	</div>
	<div class="col s4 centro">
		<p class="blanco">Ll&aacute;manos a cualquier hora</p>
		<span class="blanco grande"> 0500 - </span><span class="magenta grande"> 2783245</span> <span class="blanco grande"> - 00</span>

	</div>
	<div class="col s2 chula">
		<h6 class="morado">QUICK LINKS</h6>
		<p class="blanco delgado"> Features</p>
		<p class="blanco delgado"> Pricing & Sign Up</p>
		<p class="blanco delgado"> Features</p>
	</div>
	<div class="col s2 chula">
		<h6 class="rosado">RESOURCES</h6>
		<p class="blanco delgado"> Help Center</p>
		<p class="blanco delgado"> Certified Consultants</p>
		<p class="blanco delgado"> Demo Videos</p>
		<p class="blanco delgado"> Developer API</p>
		<p class="blanco delgado"> Blogs</p>
		<p class="blanco delgado"> User Community</p>
		<p class="blanco delgado"> Discussion Forum</p>

	</div>
	<div class="col s3 chula">
		<h6 class="azul">ABOUT CRM</h6>
		<p class="blanco delgado"> what is CRM software</p>
		<p class="blanco delgado"> How CRM Works?</p>
		<p class="blanco delgado"> How To Evaluate CRM Software?</p>
		<p class="blanco delgado"> How To Buy CRM Software?</p>
		<p class="blanco delgado"> Compare CRM Software</p>
		<p class="blanco delgado"> New to CRM?</p>

	</div>
</div>
<div id="iconos">
	
		<i class="fa fa-facebook fa-2x"></i>
	
		<i class="fa fa-twitter fa-2x"></i>
	
		<i class="fa fa-linkedin fa-2x"></i>
	
</div>
</div>