<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper white">
    	<div class="contenedor">
    		<a href="" class="brand-logo">
    			<img src="<%= asset_path 'logo.png' %>"><span id="logo-text">CR&Uuml;MBIK</span>
    		</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="sass.html">Inicio</a></li>
		        <li><a href="components.html">Servicios</a></li>
		        <li><a href="javascript.html">Planes</a></li>
		        <li><a href="components.html">Cont&aacute;ctanos</a></li>
		      </ul>
		      <ul id="nav-sesion" class="hide-on-med-and-down">
		        <li><a href="sass.html">Iniciar sesi&oacute;n</a></li>
		        <li><a href="components.html">Registrarse</a></li>
		    </ul>
    	</div>
    </div>
</nav>
</div>