<div class="wrapper_skinny">
		<h1>Datos del administrador</h1>
	<div class="form-group string optional separador_inferior">
		<div class="form-group string optional">
			<label for="nombre_usuario" class="string optional control-label"> Nombre </label>
			<input type="text" class="string optional form-control">

			<label for="nombre_usuario" class="string optional control-label"> email </label>
			<input type="text" class="string optional form-control">

			<label for="nombre_usuario" class="string optional control-label"> contraseña </label>
			<input type="text" class="string optional form-control">

			<label for="nombre_usuario" class="string optional control-label"> confirme su contraseña </label>
			<input type="text" class="string optional form-control">
		</div>
	</div>

	<h1>Datos de la organizacion</h1>
	  
	 <%= render 'form' %>
</div>
